@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Montserrat:wght@400;600&display=swap');

:root {
  /* Cores principais */
  --color-dark: #0A0A0A;
  --color-gray: #3A3A3A;
  --color-light: #F7F4EE;
  --color-beige: #E8DCCB;
  --color-gold: #C6A75E;

  /* Tipografia */
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Montserrat', sans-serif;


}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans);
}


a {
  text-decoration: none;
  color: inherit;
}

body{
    padding-top: 80px; 

}


@media (min-width: 768px) {
  body {
  padding-top: 0px; 
  }
}
